# ------------------------------------------------------------------------------
#  (c) Crown copyright 2023 Met Office. All rights reserved.
#  The file LICENCE, distributed with this code, contains details of the terms
#  under which the code may be used.
# ------------------------------------------------------------------------------
name: Deploy Docs

on:
  workflow_dispatch:
  push:
    branches: [ fix_doc_workflow ]
    paths:
      - 'src/**.h'
      - 'src/**.cpp'
      - 'documentation/**.md'
      - '.github/workflows/documentation.yml'

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  CXX_COMPILER: /usr/bin/g++-11
  C_COMPILER: /usr/bin/gcc-11
  Fortran_COMPILER: /usr/bin/gfortran-11

defaults:
  run:
    shell: bash

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install required tools
        # Install doxygen, sphinx, rtd theme
        run: |
          conda create --name vernier-env --file ${{ github.workspace }}/etc/conda/vernier-env.lock
          eval "$(conda shell.bash hook)"
          conda activate vernier-env
          sudo apt update
          sudo apt -y install doxygen graphviz
          sudo apt -y install mpich

      - name: Configure CMake
        # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
        # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
        run: |
          eval "$(conda shell.bash hook)"
          conda activate vernier-env
          cmake -B ${{ github.workspace }}/build \
            -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
            -DCMAKE_CXX_COMPILER=${{ env.CXX_COMPILER }} \
            -DCMAKE_C_COMPILER=${{ env.C_COMPILER }} \
            -DCMAKE_Fortran_COMPILER=${{ env.Fortran_COMPILER }} \
            -DBUILD_TESTS=OFF

      - name: Build
        # Build your program with the given configuration
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --target sphinxdocs 2>/dev/null

      - name: Update Doxygen Pages
        run: |
          mkdir -p ${{github.workspace}}/docs/documentation
          cp -rf ${{github.workspace}}/build/sphinx/* ${{github.workspace}}/docs/documentation/.
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]'
          git remote update
          git add --force docs/documentation
          git stash
          git checkout gh-pages
          git rm -r --ignore-unmatch docs/documentation/
          rm -rf docs/documentation/
          git stash pop
          git reset
          git add --force docs/documentation
          git commit --allow-empty -m "Update Doxygen documentation"
          git push
